<!DOCTYPE html>
<html ng-app="myApp">
	<head>
		<meta charset="UTF-8"/>
		<title>Learn the OLL Cases</title>
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" type="text/css" href="/css/default.css">
	</head>
	<body>
		<div ng-controller="ContentController" id="everything">
			<div id="content" class="content">
				<div class="innerBox">
					<div id="navBar"><span class="title big">OLL Cases</span>
						<br>
						<input type="button" id="edit" ng-cloak ng-bind=editString ng-click="editTable()" value={{editString}}>
					</div>
				
					<input type="text" ng-model="filterString" placeholder="filter cases...">
					<input type="button" ng-click="setFilter()" value="Filter"><br>
					<br>
					<br>
					<div id="cases">
						<table ng-cloak>
							<tr>
								<th><span></span></th>
								<th class="num" ng-click="setSort('num')"><span>#</span></th>
								<th class="code" ng-click="setSort('code')"><span>Code</span></th>
								<th class="solve1" ng-click="setSort('solve1.alg')"><span>Solve #1 Algorithm</span></th>
								<th class="length1" ng-click="setSort('solve1.length')"></span>Solve #1 Length</span></th>
								<th class="solve2" ng-click="setSort('solve2.alg')"></span>Solve #2 Algorithm</span></th>
								<th class="length2" ng-click="setSort('solve2.length')"><span>Solve #2 Length</span></th>
								<th class="prob" ng-click="setSort('prob')"></span>Probability</span></th>
								<th ng-if=showing.editCol>Know it?</th>
								<th ng-if=showing.flashCardCol>Select Cases for Flashcards</th>
								<th ng-if=showing.priorityCol>Select Priority</th>
								<th ng-if=showing.algorithmCol>Select Preferred Algorithm</th>
							</tr>
							<tr id="editRow" ng-show=showing.editRow ng-cloak>
								<th>Hidden</th>
									<td ng--repeat="cClass in classes">
										<input class="{{cClass}}" type="checkbox" ng-model="hidden[cClass]" ng-true-value=1 ng-false-value=0 ng-click="hide($event)">
									</td>
								<td ng-if=showing.editCol></td>
							</tr>
							
							
							<tr ng--repeat="case in filteredCases | orderBy:column:reverse" class="{{case.code}}">
								<td ng-cloak><img class="icon" ng-src="{{case.src}}"></td>
								<td class="num" >{{case.num}}</td>
								<td class="code" >{{case.code}}</td>
								<td class="solve1" ng-bind-html="case.solve1.alg | colorCodeAlgorithms"></td>
								<td class="length1" >{{case.solve1.length}}</td>
								<td class="solve2" ng-bind-html="case.solve2.alg | colorCodeAlgorithms"></td>
								<td class="length2" >{{case.solve2.length}}</td>
								<td class="prob" >{{case.prob | number: 5}}</td>
								<td ng-if=showing.editCol> <!--class="known">-->
									<input id="{{case.code}}" type="checkbox" ng-model="hiddenRows[case.code]" ng-true-value=1 ng-false-value=0> <!-- ng-click="cookiefy($event)">-->
								</td>
								<td ng-if=showing.flashCardCol><input id="{{case.code}}" type="checkbox" ng-model='practicing[case.code]'></td>
								<td ng-if=showing.priorityCol>
									<select ng-show='practicing[case.code]' class="priorities" ng-model=cardPriorities[case.code]>
										<option ng-repeat="val in cards.options" value="{{val}}">{{val | number:0}}</option>
									</select>
								</td>
								<td ng-if="pickAnAlgorithm(case)">
									<select ng-model='cardOptions[case.code]'>
										<option value=-1></option>
										<option value=1>1</option>
										<option value=2>2</option>
									</select>
								</td>
							</tr>
							
						</table>
					</div>

					
				</div>
			</div>
			<div id="flashCardDiv" class="content">
					<div class="innerBox">
						<span class="title big">Flashcards</span><br><br>
						<div id="myFlashCards">
							<table>
								<tr ng--repeat="card in practiceCards | orderBy:'priority'">
									<td>
										<flash-card cardsrc="{{card.src}}" cardcode="{{card.code}}" cardprob="{{card.prob}}" cardalg="{{returnSolve(card)}}"></flash-card>
									</td>
								</tr>
							</table>
						</div>
						<!--<ul>
							<li ng--repeat="value in cardPriorities">{{value}}</li>
						</ul>-->
					</div>
				</div>
			<div id="leftBar">
				<div id="controls" ng-controller="InfoController">
					<div ng-controller="cubeScrambler">
						<span class="title">Scramble</span>
						<input id="scrambleButton" type="button" ng-click="scramble()" value="Click to Scramble"><br><br>
						<div class="scrambleCodeDiv" >{{code}}</div>
						<br><br>
						<!--Some random text: <span>{{hiddenRows | json}}</span>-->
						<div ng-controller="TimerController" id="timerDiv">
							<!-- <timestats times=myStats.stats>
							</timestats> -->
							
							<!-- <ul>
								<li ng--repeat="stat in myStats.stats">
								{{stat | millisToString}}
								</li>
							</ul> -->
							<div id="timer">
								<span class="title">Timer</span>
								<span class="stopwatch">{{time.string}}</span><br>
								<input type="button" id="timerButton" ng-click="returnObjects()" tabindex="1" value={{returnNames()}}>
							</div>
							<div id="timesRecord">
								<div id="timesforeground">
									<table id="timesTable">
										<thead>
											<tr>
												<th>#</th>
												<th>Time</th>
												<th>Del</th>
											</tr>
										</thead>
										<tbody>
											<tr ng--repeat="record in records track by $index" class="timesTable">
												<td>{{record.index}}</td>
												<td>{{record.time}}</td>
<!-- 												<td>{{record.timeStamp}}</td>
 -->												<td><input type="button" value="x" ng-click="deleteRecord($index)"></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<br>
							<hr>
							<br>
							
<!-- 							<ng-include src="included_stats.html"></ng-include>

-->							<div class="myTimeStats">
								<span class="title">Time Stats</span>
								<div class="timeStatsInner">
 									<table class="timeStatsTable">
										<tr>
											<td class="left" align="left">
												Best: {{myStats.stats.best | millisToString}}
											</td>
											<td class="right" align="right">
												Worst: {{myStats.stats.worst | millisToString}}
											</td>
										</tr>
										<tr>
											<td class="left" align="left">
												Mean: {{myStats.stats.mean | millisToString}}
											</td>
											<td class="right" align="right">
												Median: {{myStats.stats.median | millisToString}}
											</td>
										</tr>
										<tr>
											<td class="left" align="left">
												Q1: {{myStats.stats.q1 | millisToString}}
											</td>
											<td class="right" align="right">
												Q3: {{myStats.stats.q3 | millisToString}}
											</td>
										</tr>
										<tr>
											<td class="left" align="left">
												Last 5: {{myStats.stats.mean5 | millisToString}}
											</td>
											<td class="right" align="right">
												3 of 5: {{myStats.stats.mean35 | millisToString}}
											</td>
										</tr>
										<tr>
											<td class="left" align="left">
												Last 10: {{myStats.stats.mean10 | millisToString}}
											</td>
											<td class="right" align="right">
												10 of 12: {{myStats.stats.mean1012 | millisToString}}
											</td>
										</tr>
										<tr>
											<td class="left" align="left">
												Variance: {{myStats.stats.variance | millisToString}}
											</td>
											<td class="right" align="right">
												StdDev: {{myStats.stats.stdDev | millisToString}}
											</td>
										</tr>
										<tr>
											<td class="left" align="left">
												IQR: {{myStats.stats.iqr | millisToString}}
											</td>
											<td class="right" align="right">
												Range: {{myStats.stats.range}}
											</td>
										</tr>
								</table>
							</div>
							
						</div>
<!-- 							<br ng-repeat="stat in myStats.stats">
 -->						</div>
						<br>
						<hr>
						<br>
					</div>
					
					<span class="title">Controls</span>
					<form id="controller">
						<!-- <input type="radio" name="task" id="sort">
						<label for="sort">Sort</label><br>
						<div class="controlBox" id="sortControl">
							<label>Custom sorting: </label><input type="checkbox" ng-model="comparisons.custom">
						</div><br> -->
						<input type="radio" name="task" id="card">
						<label for="card">Make Flashcards</label><br>
						<div class="controlBox" id="cardControl">
							<input type='button' value="Select cases to practice" ng-click="editCardSelection()"><br>
							<p>Max Number of Cards: {{cards.maxNumber}}</p>
							<label>Change Max # of Cards: </label><select name="numCards" ng-model=cards.maxNumber></select>
						</div><br>
						<input type="radio" name="task" id="known">
						<label for="known">Check Off Known Cases</label><br>
						<div class="controlBox" id="caseControl">
							<input type="button" value="{{knownCases.editMessage}}" ng-click="modifyKnownCases()">
							<!--<span ng-click="toggleCases()">{{toggle}} Show Known Cases</span>-->
						</div>
					</form>
					<hr>
					<br>
					
							<span class="title">Stats</span>
							<p>Number of known cases: {{number.knownCases}}</p>
							<P>Percentage of Cases Learned: {{number.percent | number: 2}}%</p>
							<p>Probability of Knowing a Randomly Chosen Case: {{number.prob | number: 2}}%</p>
				</div>
				<div>
					
				</div>
			</div>
		</div>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
		<script type="text/javascript" src="http://code.angularjs.org/1.4.12/angular.min.js"></script>
		<script type="text/javascript" src="http://code.angularjs.org/1.4.12/angular-cookies.min.js"></script>
		<script type="text/javascript" src="http://code.angularjs.org/1.4.12/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="/app/app.module.js"></script>
		<script type="text/javascript" src="/app/cases.value.js"></script>
		<script type="text/javascript" src="/app/app.config.js"></script>
		<script type="text/javascript" src="/app/colorCodeAlgorithms.filter.js"></script>
		<script type="text/javascript" src="/app/cookieData.value.js"></script>
		<script type="text/javascript" src="/app/cookieDataTypes.value.js"></script>
		<script type="text/javascript" src="/app/cookieStrings.value.js"></script>
		<script type="text/javascript" src="/app/flashCard.directive.js"></script>
		<script type="text/javascript" src="/app/hiddenRows.value.js"></script>
		<script type="text/javascript" src="/app/timeConversion.factory.js"></script>
		<script type="text/javascript" src="/app/stats.factory.js"></script>
		<script type="text/javascript" src="/app/timesStatistics.filter.js"></script>
		<script type="text/javascript" src="/app/timeStats.directive.js"></script>
		
		
		
		<script type="text/javascript" src="/app/cube-scrambler/cube-scrambler.module.js"></script>
		<script type="text/javascript" src="/app/timer/timer.module.js"></script>
		<script type="text/javascript" src="/app/flash-cards/flash-cards.module.js"></script>
		<script type="text/javascript" src="/app/oll-case-content/oll-case-content.controller.js"></script>
		
		<script type="text/javascript" src="/js/animation.js"></script>
		<!--<script type="text/javascript" src="js/controllers.js"></script>
		<script type="text/javascript" src="/js/timer.js"></script>
		<script type="text/javascript" src="js/scrambler.js"></script>
		<script type="text/javascript" src="http://code.angualarjs.org/1.3.8/angular-sanitize.min.js"></script>
		
		 </script> 
		<script type="text/javascript" src="js/app_mod.js"></script>
		-->
	</body>
</html>